dill==0.3.9
protobuf==5.29.3
psutil==6.1.1
jsonschema==4.23.0
numpy==1.26.4
pandas==2.2.3
pyarrow==18.0.0
pydantic==2.10.6
requests==2.32.3
kafka-python==2.0.2
pyspark==3.5.0
jsonschema
distributed==2024.4.1
dask[dataframe]==2024.4.1
feast[postgres,redis,dask]==0.47.0
redis>=4.2.2,<5
hiredis>=2.0.0,<3
